@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-color: lightblue;
  display: grid;
  place-items: center;
}

#cookieClicker {
  width: 400px;
  height: 400px;
}

#Octo {
  width: 400px;
  height: 400px;
}
