@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  background-image: linear-gradient(rgb(5, 101, 5), rgb(3, 37, 110));
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 1fr;
}

#header {
  background-image: linear-gradient(black, grey);
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  align-content: center;
  text-align: center;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  color: hsl(from color h s l);
}

.main {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  align-content: center;
  margin: 10px;
}

#shop-container {
  background-image: linear-gradient(grey, black);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  margin: 10px, 10px, 10px, 10px;
  margin-top: 10px;
}

.right {
  background-image: linear-gradient(grey, black);
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

#cookieClicker {
  width: 400px;
  height: 400px;
  background-color: black;
}

#Octo {
  width: 400px;
  height: 390px;
}

#upgrades {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}

button {
  background-color: slategrey;
  border: 2px solid;
  gap: 10px;
}

button:hover {
  background-color: lightslategray;
}

#cookieAmount,
#cps {
  margin: 20px;
  text-align: center;
}
