@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

#header {
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-image: linear-gradient(rgb(5, 101, 5), rgb(3, 37, 110));
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: row, center;
  justify-items: center;
}

#shop-container {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.right {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#cookieClicker {
  width: 400px;
  height: 400px;
  background-color: black;
}

#Octo {
  width: 400px;
  height: 390px;
}
